.moke-app-nav {
  border-right: 1px solid #ccc;
  height: 100%;
  padding-top: 1em;
}

.moke-app-main {
  padding-top: 1em;
}

.moke-font-sm {
  font-size: 1em;
}

.moke-font-md {
  font-size: 1.2em;
}

.moke-font-xl {
  font-size: 1.5em;
}