.moke-homepage-nav-alignRight {
  flex-direction: row-reverse;
}

.moke-homepage-nav-header {
  display: flex;
  justify-content: space-between;
}

.moke-nav-container {
  width: 100%;
  margin-top: 10px;
  font-size: 1.2em;

  .moke-nav-item {
    height: 3em;
  }
}

.moke-nav-breadcrumb {
  ol {
    margin-top: 0em;
    padding-left: 0em;
    margin-bottom: 0em;
    background-color: #fff;
  }
}